<div>
    Group by:
    <div class="w-full flex flex-row items-center">
        <button type="button" class="m-2 rounded-2xl"
            :class="groupBy === 'day' && 'bg-white/10 border border-zinc-200! opacity-60 cursor-not-allowed'"
            :disabled="groupBy === 'day'" :aria-pressed="groupBy === 'day'" @click="groupBy = 'day'">
            pr. dag
        </button>
        <button type="button" class="m-2 rounded-2xl"
            :class="groupBy === 'week' && 'bg-white/10 border border-zinc-200! opacity-60 cursor-not-allowed'"
            :disabled="groupBy === 'week'" :aria-pressed="groupBy === 'week'" @click="groupBy = 'week'">
            pr. uge
        </button>
        <button type="button" class="m-2 rounded-2xl"
            :class="groupBy === 'month' && 'bg-white/10 border border-zinc-200! opacity-60 cursor-not-allowed'"
            :disabled="groupBy === 'month'" :aria-pressed="groupBy === 'month'" @click="groupBy = 'month'">
            pr. måned
        </button>
        </button>
    </div>
</div>